body { 
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.title-h2 { font-size: 2em; padding: 5px 0px; line-height: 1.2; }
.title-h3 {}
.title-h4 {}
.text-p { font-size: 1.2em; }

.header {
	height: auto;
	background-color: #fff;
	border: none;
}

.register {
	width: 100%;
	height: auto;
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-position: 50% 92%;
}

.become  {
	padding: 1.5em 3em;
}

.default-color {
	height: auto;
	background-color: #f7b617;
	border: 1px solid #f7b617;
	color: #fff;
}

.app-section {
	border: 1px solid #fff;
}

.driver {
	width: 100%;
	height: 448px;
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.section-driver {
	background-color: rgba(0,0,0,0.5);
	height: 448px;
}

.border {
	border: 1px solid #fff;
}

.border-bottom {
	border-bottom: 1px solid #fff; 
}

.border-top {
	border-top: 1px solid #fff; 
}

.img-inline {
	height: 1.2em;
}

.bold {
	font-weight: bold;
}

.footer {
	width: 100%;
	height: auto;
	background-color: #2b2b2b;
}

.content-footer {
	height: 20em;
}

.input-box {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 16px;
}

.input-box::placeholder {
	color: #fff;
}

input[type="text"], .input-box {
	outline: none;
}

.padding-form {
	padding: 4em 1em 4em 10em;
}

.classlist li {
	padding: 0.5em 0;
	list-style-type: none;
}

.classlist a {
	color: #fff;
}

.map {
	width: auto;
	height: 30em ;
}

.fa {
	padding: 0 .3em;
}

/* Modal Iniciar Sesion */
.login-color {
	background-color: #08ac9d; 
	color: #fff;
}

.align-center {
	text-align: center;
}

.photo {
	width: 7em;
	height: auto;
	display:block;
	margin:auto;
}

.content {
	width: 100%;
}

.content a {
	color: #f7b617;
}


/* Padding */
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }
.padding-xxl { padding: 10em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }
.padding-x-xxl { padding: 10em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }
.padding-y-xxl { padding: 0 10em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }
.padding-top-xxl { padding-top: 10.5em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }
